@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 400; */
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    /* font-weight: normal; */
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

/* 탑버튼 */

.top_button {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 20px;
    background-color: #FF3D00;
    border-radius: 50%;
    padding: 8px;
}

.top_button>a>img {
    width: 24px;
    height: 24px;
}


/* 헤더 */

.main_sec {
    position: relative;
    height: 100vh;
}

header {
    z-index: 200;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
}

header>p {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    background-color: #FF3D00;

}

header.hide {
    transform: translateY(100%);
    opacity: 0;
}

.menu {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    line-height: 64px;
    /* border: solid 1px #FF3D00; */
}

.menu>ul {
    display: flex;
    margin-left: 30px;
}

.menu>ul>li {
    padding-right: 16px;
}

.menu>ul>li>a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #FF3D00;
    font-family: 'GmarketSansMedium';
    padding-right: 28px;
}

.icon_box>ul {
    display: flex;
    width: 457px;
    justify-content: flex-end;
}

.icon_box>ul>li {
    padding-right: 16px;
    margin-top: 10px;
}

/* 메인 슬라이드 */

.slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.slides {
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide{
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}

.slide > li > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slides>li {
    position: relative;
    width: 100vw;
}

.main_text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
}

.main_text > h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 40px;
}

.main_text > p {
    font-size: 18px;
    line-height: 28px;
}

/* 이전/다음 버튼 */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* 메인 닷 */

.slideDots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 999px;
}

.slideDot{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slideDot.active {
    background: #FF3D00;
}

/* 닷 네비게이션 */
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #FF3D00;
}

#INTRODUCE_BOX {
    width: 100%;
    height: 800px;
    position: relative;
}

.title {
    text-align: center;
    padding-top: 80px;
}

.sub_title {
    color: #FF3D00;
    font-size: 20px;
    font-weight: 600;
}

.title > h2 {
    font-size: 48px;
    font-weight: 800;
    padding: 16px 0px 20px 0px;
}

.title > h2 > span {
    display: inline-block;
    transform: scale(-40%);
    color: #FF3D00;
} 

.title > p {
    font-size: 18px;
    line-height: 24px;
}


.img_box > img {
    position: absolute;
}

.img_box > img:hover{
    animation: animation_1 1s linear infinite;
}

@keyframes animation_1 {
    20% {
        transform: rotate(10deg)
    }
   60% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);   
    }
}

.img_box > img:nth-child(1){
    top: 10%;
    left: 6%;
}

.img_box > img:nth-child(2){
    top: 24%;
    left: 20%;
}

.img_box > img:nth-child(3){
    top: 45%;
    left: 6%;
}

.img_box > img:nth-child(4){
    top: 10%;
    right: 6%;
}

.img_box > img:nth-child(5){
    top: 24%;
    right: 20%;
}

.img_box > img:nth-child(6){
    top: 55%;
    right: 8%;
}

.sec1_bg{
    background-image: url(../img/sec1_bg.png);
    width: 902px;
    height: 450px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-size: cover; */
}




/* 주변 맛집 추천 */

#NEARBY_RESTAURANT {
    width: 100%;
    height: 1000px;
    background-color: #fafafa;

}

.nearby_sec {
    /* width: 1200px; */
    height: 100%;
    /* border: solid 1px #FF3D00; */
    /* margin: 0 auto; */
}

.nearby_sec > .title {
    text-align: start;
    width: 1200px;
    margin: 0 auto;
}

.tab_div{
    height: 680px;
    display: flex;
    /* border: solid 1px #814c3c; */
    justify-content: center;
    align-items: center;
}

.tab_div > ul {
    margin-right: 120px;
    padding-left: 100px;
}

.tab {
    width: 80px;
    list-style: none;
    height: 35px;
    font-size: 32px;
    padding: 50px 0px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    box-sizing: border-box;
}

.tab.active {
    color: #FF3D00;
    border-bottom: solid 1px #FF3D00;
}

.sec2_imgbox {
    width: 980px;
    height: 582px;
    position: relative;

}

.store {
    width: 980px;
    height: 582px;
    background-color: #eaeaea;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 40px 0 0 40px;
    padding: 0 74px 0 74px;
    border-right: 20px solid #FF3D00;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.store.active {
    display: flex;
}

.store_box {
    width: 285px;
    height: 458px;
    /* border: solid 1px #814c3c; */
    margin: 0 auto;
    border-radius: 00px 40px 0px 40px;
    color: #fff;
    padding: 20px;
    background-size: cover;
    position: relative;
}

.store_box:hover{
    cursor: pointer;

}
/* 서울 */
.store:nth-child(1) > .store_box:nth-child(1){
    background-image: url(../img/sec02_아루.png);
}

.store:nth-child(1) > .store_box:nth-child(2){
    background-image: url(../img/sec02_콩두명동.png);
}

.store:nth-child(1) > .store_box:nth-child(3){
    background-image: url(../img/sec02_제미.png);
}

/* 인천 */

.store:nth-child(2) > .store_box:nth-child(1){
    background-image: url(../img/sec02_인천_한정원.png);
}

.store:nth-child(2) > .store_box:nth-child(2){
    background-image: url(../img/sec02_인천_소하다이닝바.png);
}

.store:nth-child(2) > .store_box:nth-child(3){
    background-image: url(../img/sec02_인천_마타렐로.png);
}

/* 부산 */

.store:nth-child(3) > .store_box:nth-child(1){
    background-image: url(../img/sec02_부산_산돼지해운대.png);
}

.store:nth-child(3) > .store_box:nth-child(2){
    background-image: url(../img/sec02_부산_비쇼쿠.png);
}

.store:nth-child(3) > .store_box:nth-child(3){
    background-image: url(../img/sec02_부산_쉐킴.png);
}

/* 대전 */

.store:nth-child(4) > .store_box:nth-child(1){
    background-image: url(../img/sec02_대전_플레이트.png);
}

.store:nth-child(4) > .store_box:nth-child(2){
    background-image: url(../img/sec02_대전_레인보우.png);
}

.store:nth-child(4) > .store_box:nth-child(3){
    background-image: url(../img/sec02_대전_스웨이.png);
}

/* 제주 */

.store:nth-child(5) > .store_box:nth-child(1){
    background-image: url(../img/sec02_제주_종문.png);
}

.store:nth-child(5) > .store_box:nth-child(2){
    background-image: url(../img/sec02_제주_소못.png);
}

.store:nth-child(5) > .store_box:nth-child(3){
    background-image: url(../img/sec02_제주_센슈어스.png);
}

.store_place {
    font-size: 30px;
    font-weight: 600;
}

.store_place > span {
    color: #FF3D00;
}

.store_contents {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: end;
}

.store_contents > h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.store_contents > p{
    display: flex;
    align-items: center;
}

.store_contents > p > span img {
    display: block;
    padding-right: 5px;
}


/* 고객 맞춤 매장 추천 */


#recommended_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f3f3f3;
}

.recommended_restaurant {
    width: 285px;
    height: 529px;
}


.carousel_container {
    width: 1425px;
    /* 285px * 5 */
    height: 529px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid #ccc; */
}

/* 이미지 트랙: 모든 이미지들을 가로로 나열 */
.carousel_track {
    display: flex;
    transition: transform 0.5s ease;
    margin-top: 20px;
}

/* 각 이미지 아이템 */
.recommended_restaurant {
    box-sizing: border-box;
    min-width: 285px;
    height: 529px;
    flex-shrink: 0;
    box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.5);;
    background-color: #fff;
    border-radius: 30px;
    transform: scale(90%);
}

.recommended_restaurant img {
    width: 100%;
    height: 327px;
    object-fit: cover;
}

.restaurant_text {
    margin: 12px;
}

.restaurant_text > h3 {
    font-size: 24px;
    font-weight: 800;
}

.restaurant_text > p {
    display: flex;
    align-items: center;
}

.restaurant_sub_contents > span > img {
    display: block;
    width: 20px;
    height: 20px;
}

.restaurant_sub_contents > span {
    font-weight: 800;
    margin-right: 6px;
    color: #000;
}

.restaurant_sub_contents {
    color: #797979;
    margin: 6px 0px;
}

.restaurant_main_contents {
    margin-top: 20px;
    line-height: 18px;
}

/* 좌우 버튼 */
.carousel_button {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    margin-top: 104px;
    z-index: 10;
}

.carousel_button.left {
    left: 10px;
}

.carousel_button.right {
    right: 10px;
}

/* 닷 네비게이션 */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ddd;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #FF3D00;
}

/* 매거진 */

#MAGAZINE_SEC {
    width: 100%;
    height: 1384px;
    padding: 100px 0;

}

.magazine_warpper {
    width: 1200px;
    margin: 0 auto;
}

.div_text > h2 {
    font-size: 54px;
    font-weight: 800;
    line-height: 68px;
    color: #FF3D00;
}

.div_text > p {
    margin: 20px 0;
    font-size: 18px;
}


.magazine_box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(380px, auto);
    grid-gap : 14px;
    grid-template-areas: 
    'a b c'
    'a b e'
    'd d e'
}

.magazine {
    /* border: solid 1px #FF3D00; */
    /* background-color: #ffc7b6; */
    background-size: 100%;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    transition: background-size 0.5s ease;
}

.magazine_box:hover > .magazine {
    filter: brightness(0.5);
}

.magazine_box > .magazine:hover {
    background-size: 110%;
    filter: brightness(1.0);
}

.magazine > h3 {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
    font-weight: 900;
    padding-bottom: 10px;
}

.magazine > p {
    color: #fff;
    line-height: 24px;
}

.magazine > figure {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 30px;
}

.imga {
    grid-area: a;
    background-image: url(../img/sec04_1.png);
}
.imgb {
    grid-area: b;
    background-image: url(../img/sec04_2.png);
    
}
.imgc {
    grid-area: c;
    background-image: url(../img/sec04_3.png);
}
.imgd {
    grid-area: d;
    background-image: url(../img/sec04_4.png);
}
.imge {
    grid-area: e;
    background-image: url(../img/sec04_5.png);
}

/* 광고 배너 */

#ADVERTISING {
    width: 100%;
    height: 400px;
    background-image: url(../img/sec5.png);
    background-size: cover;
    color: #fff;
    text-align: center;
}

.advertising_text {
    padding-top: 140px;
}

.advertising_text > h2 {
    font-size: 54px;
    font-weight: 900;
}

.advertising_text > p {
    font-size: 24px;
    padding: 30px;
}

footer {
    width: 100%;
    height: 420px;
    background-color: #DCDCDC;
}

.footer_text {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}

.footer_text > h2 {
    font-size: 40px;
    font-weight: 600;
    color: #9A9A9A;
    font-family: 'GmarketSansMedium';
    padding-right: 28px;
}

.footer_text > ul > li {
    line-height: 30px;
    font-size: 11px;
    color: #666666;
}

.footer_text > ul > li:first-child {
    line-height: normal;
}

.footer_text > ul > li > span:first-child {
    color: #FF3D00;
}

.footer_text > ul > li > span:last-child {
    color: #000;
}

/* 스크롤바 */


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF3D00;
    border-radius: 10px;
}


/* 테블릿 뷰 */


@media (max-width: 1024px) {
    .menu>ul {
        display: none;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .icon_box {
        position: absolute;
        right: 0px;

    }
}